
body {
  font-family: sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #111;
  transition: 0.3s;
}
header {
  background: #004aad;
  color: white;
  padding: 20px;
  text-align: center;
}
nav {
  margin-top: 10px;
}
nav a, nav button {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
img {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
body.dark {
  background: #121212;
  color: #eee;
}
body.dark header {
  background: #222;
}
body.dark footer {
  background: #1a1a1a;
}
body.dark nav a, body.dark nav button {
  color: #00bcd4;
}
